@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

.indian {
    max-width: 100%;
    width: 100%;
    position: relative;
}

.indian-img {
    overflow: hidden;

}

.indian-img img {
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0px 0px -225px 0px;
}

.logo {
    position: relative;
    width: 500px;
    height: 500px;
}

.circles {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: transparent 1px solid;
    border-radius: 50%;
}

.one {
    background-color: rgba(250, 214, 211, 0.5);
    opacity: 1;
    width: 94%;
    height: 94%;
    -webkit-animation: pulsate-fwd 1s ease-in-out infinite both ;
	        animation: pulsate-fwd 1s ease-in-out infinite both;
}

.two {
    background-color: rgba(252, 204, 165, 0.5);
    opacity: 1;
    width: 87%;
    height: 87%;
    -webkit-animation: p-fwd 1s ease-in-out infinite both;
	        animation: p-fwd 1s ease-in-out infinite both;
}

.three {
    background: #EF980A;
    width: 80%;
    height: 80%;
}

.three .text {
    color: #fff;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 62%;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    opacity: 0.6;
    line-height: 25px;
}

.tray-img {
    max-width: 80%;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -110%;
    transform: translate(-50%, 110%);
    overflow: hidden;
    z-index: 2;
    
}

.tray-img img {
    width: 100%;
    margin: -150px 0px -250px;
}

.fruit-tray {
    max-height: 20%;
    height: 100%;
    max-width: 25%;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 80%;
    left: 0;
    transform: translate(0, -80%);
}


.buttons {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(0, -100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: #fff;
    margin-left: 2px;
    padding: 15px 65px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
} 

.button:hover {
    transform: scaleY(1.2);

}

.about {
    background-color: #FAB142;
}

.publications {
    background-color: #EF980A;
}

.menu {
    background-color: #E15518;
}

.contact {
    background-color: #1F571A;
}

.hero {
    background-color: #FEF6E9;
    display: flex;
    justify-content: flex-end;
    padding: 12% 5%;
    padding-bottom: 20%;
}

.statement-section {
    width: 60%;
    padding: 0 5%;
}

.red-text {
    color: #FF895E;
    font-size: 18px;
    line-height: 28px;
}

.green-text {
    color: #385F33;
    text-transform: uppercase;
    font-size: 18px;
    margin: 3% 0;
}

.desc {
    display: flex;
    justify-content: space-between;
}

.statement {
    width: 40%;
    margin-top: 5%;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3%;
}

.summary {
    font-size: 14px;
    line-height: 20px;
    color: #a29f9a;
}

.publication-section {
    background: #98AD20;
    position: relative;
}





.section {
    padding: 15%;
    padding-bottom: 2%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.latest {
    background: #1F571A;
    padding: 7% 6%;
    z-index: 10;
    width: 50%;

}

.late-title {
    color: #fff;
    font-size: 22px;
    width: 40%;
    margin-left: 10px;
}

.late-label {
    color: #98AD20;
    text-transform: uppercase;
    font-size: 8px;
    margin: 3% 0;
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 2px;

}

.btn-download button {
    padding: 15px 50px;
    width: 90%;
    border: #fff 1px solid;
    border-radius: 40px;
    text-transform: uppercase;
    background: #fff;
    color: #1F571A;
    font-size: 10px;
    font-weight: 900;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;

}

.btn-download button:hover {
    color: #fff;
    background: #1F571A;

}

.btn-others {
    margin-bottom: 5%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


.btn-others button {
    padding: 13px 30px;
    border: #fff 1px solid;
    border-radius: 40px;
    text-transform: uppercase;
    color: #fff;
    background: #98AD20;
    font-size: 10px;
    font-weight: 900;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-others button:hover {
    color: #98AD20;
    background: #fff;

}

.selections {
    display: flex;
}

.flex-cont {
    display: flex;
    width: 85%;
}

.left {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.middle {
    width: 41%;
    overflow: hidden;
}

.right {
    width: 59%;
    height: 100%;
}

.middle img {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
}

.food {
    cursor: pointer;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #877f72;
    transition: all 0.5s ease;

}

.porridge {
    background: #E15518;
}

.porridge:hover {
    background: #fff;
    color: #E15518;
}


.intercontinental {
    background: #EF980A;
}

.intercontinental:hover {
    background: #fff;
    color: #EF980A;
}

.cake {
    background: #FAB142;
}

.cake:hover {
    background: #fff;
    color: #FAB142;
}


.dessert {
    background: #FAD193;
}

.dessert:hover {
    background: #fff;
    color: #FAD193;
}

.yam {
    color: #CED19C;
    font-size: 20px;
    padding: 10% 0 0 5%;
}

.asaro {
    color: #266a20;
    font-size: 20px;
    padding: 2% 5%;
    position: relative;
}

.asaro:after {
    content:"";
    position: absolute;
    height: 2px;
    width: 70%;
    background: #e8a230;
    left: 0;
    top: 100%;
}

.serve-container {
    padding: 2% 5%;
    padding-bottom: 0;
}

.serve-title {
    display: flex;
    margin: 3% 0;
}

.serve {
    font-weight: bold;
    font-size: 15px;
}

.amount, .ingredient, .method {
    color: #80807b;

}

.amount {
    margin-left: 5px;
}

.ingredient {
    font-size: 14px;
    margin: 5px 0;
}

.method {
    font-size: 14px;
    margin: 20px 0;
}

.point-div {
    margin: 4% 5%;
    display: flex;
}

.point {
    height: 13px;
    width: 13px;
    background: #A09B95;
    margin: 0 5px;
    margin-top: 6%;
    border-radius: 100%;
    cursor: pointer;
    border: none;
}

.first {
    background: #191611;
}

.heading {
    background: #F7E8D1;
    text-align: center;
    padding: 10% 0;
    position: relative;
}

 .sub-heading, .sub-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.leaf-image {
    overflow: hidden;
}

.leaf-image img {
    width: 90%;
    margin: -270px 0px -270px;

}

.sub-heading {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    top: 37%;
    transform: translate(-50%, -37%);
}

.sub-text {
    width: 100%;
    color: #e8a230;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}

.footer {
    background: #E15518;
    position: relative;
}

.image-cont {
    overflow: hidden;
}

.image-cont img {
    opacity: 0.1;
    transform: scale(1.6);
    height: 100%;
    margin: -350px 0 -350px;

}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.xand-text {
    color: #E15518;
    font-size: 72px;
}

.contact-section {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
}

.contact-text, .social-text, .message-text {
    color: #e8a230;
    text-transform: uppercase;
    font-size: 14px;
}

.phone, .mail, .icon {
    color:#fff;
}

.phone {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 13px;
    text-decoration: inherit;
}

.mail {
    font-size: 12px;
}

.social-section, .message-section {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-75%, -50%);
}

.message-section {
    left: 99%;
    transform: translate(-99%, -50%);
    z-index: 2;
    cursor: pointer;
}

.icon {
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.icon img {
    width: 100%;
    height: 100%;
    color: #fff;

}

.icons {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

.message-text {
    color: #fff;
    line-height: 15px;
    font-size: 11px;
}

.footer-circle {
    max-width: 80px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

}

.f-circle {
    width: 100%;
    height: 100%;
    background: #EE910E;
    border-radius: 100%;
    transform: translateX(50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

 .f-circle:hover {
    transform: translateX(0);
    transform: scale(1.4);
}


@keyframes pulsate-fwd {
    0% {
              width: 94%;
              height: 94%;
    }
    50% {
              width: 96%;
              height: 96%;
    }
    100% {
              width: 94%;
              height: 94%;
    }
  }

  @keyframes p-fwd {
    0% {
              width: 87%;
              height: 87%;
    }
    50% {
              width: 89%;
              height: 89%;
    }
    100% {
              width: 87%;
              height: 87%;
    }
  }



  @media screen and (max-width: 320px) {
    .logo {
        position: relative;
        width: 100px;
        height: 100px;
    }

    .amount {
        font-size: 12px;
    }
}

  
@media screen and (min-width: 375px) {
    .tray-img img {
        width: 100%;
        margin: -60px 0px -70px;
    }

    .tray-img {
        bottom: -50%;
        transform: translate(-50%, 50%);
    }

    .btn-others button {
        width: 75%;
    }

    .center-circle {
        width: 100px;
        height: 100px; 
    }


}


@media (min-width: 424px) and (max-width: 750px) {

    .logo {
        width: 200px;
        height: 200px;
    }

    /* .tray-img img {
        width: 100%;
        margin: -50px 0px -90px;
    } */

    .tray-img {
        /* bottom: -40%;
        transform: translate(-50%, 40%); */
        display: none;
    }

    .indian-img img {
        margin: 0px 0px -90px 0px;
    }

    .three .text {
        font-size: 12px;
        max-width: 80%;
        line-height: 15px;

    }

    .fruit-tray {
        display: none;
    }

    .section {
        padding-top: 13%;
        padding-left: 14%;
        
    }


    
    .button {
         padding: 10px 25px;
         font-size: 12px;
    }

    .btn-others button {
        width: 80%;

    }

    .center-circle {
        width: 120px;
        height: 120px; 
    }

    .sub-text {
        font-size: 7px;
        line-height: 12px;
        width: 80%;
        top: 60%;
        transform: translate(-50%, -60%);
    }

    .hero {
        justify-content: center;
        padding: 10% 8%;
    }

    .statement-section {
        padding: 0;
        width: 100%;
    }

    .red-text {
        font-size: 15px;
      line-height: 15px;

    }
    
    .green-text {
        font-size: 13px;
        line-height: 17px;
        margin-top: 5%;
    }

    .statement {
        width: 45%;
    }

    .selections {
        display: block;
    }

    .left {
        flex-direction: row;
         width: 100%;

    }

    .middle {
        width: 50%;
    }
    
    .right {
        width: 50%;
        height: 100%;
    }

    .flex-cont {
        width: 100%;
    }

    .middle img {
        transform: scale(1);
        object-fit: cover;
    }
    
    .food {
        font-size: 12px;
        padding: 8px 12px;
    
    }

    .point {
        height: 10px;
        width: 10px;  
    }

    .leaf-image img {
        width: 80%;
        margin: -90px 0px -90px;
    
    }

    .sub-heading {
        font-size: 16px;
        width: 100%;
    }

    .sub-text {
        line-height: 15px;
        width: 90%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .image-cont img {
        transform: scale(1.5);
        margin: -130px 0 -130px;
    
    }

    .center-circle {
        width: 100px;
        height: 100px; 
    }

    .xand-text {
        font-size: 20px;
    }

    .contact-section {
        top: 50%;
        left: 5%;
        transform: translate(-5%, -50%);
    }

    .contact-text, .social-text, .message-text {
        font-size: 10px;
    }

    .phone {
        font-size: 7px;
         margin-top: 5px;

    }

    .mail {
        font-size: 7px;
    }

    
    .social-section{
        top: 50%;
        left: 75%;
        transform: translate(-75%, -50%);
    }

    .icons {
        margin: 5px 0;
    }

    .icon {
        max-width: 15px;
        max-height: 15px;
        margin-right: 12px;
    }
   
    .message-text {
        line-height: 10px;
        font-size: 6px;
    }

    .footer-circle {
        max-width: 40px;
        max-height: 40px;
    }

    .late-title {
        font-size: 16px;
        width: 80%;
    }

    .btn-download button {
        padding: 8px 20px;
         font-size: 8px;
         width: 100%;
         margin-top: 5px;

    }

    .btn-others button {
        padding: 8px 20px;
        font-size: 8px;
        margin-top: 5%;
        width: 80%;
    }
    
}


  @media (min-width: 320px) and (max-width: 425px) {
    .logo {
        position: relative;
        width: 150px;
        height: 150px;
    }

    .tray-img img {
        display: none;
    }

    .circles {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .indian-img img {
        margin: 0px 0px -20px 0px;
    }

    .fruit-tray {
        display: none;
    }


    .three .text {
        font-size: 10px;
        max-width: 80%;
        line-height: 10px;

    }

    .button {
        margin-left: 2px;
         padding: 10px 15px;
         font-weight: 500;
         font-size: 10px;
    }

    .hero {
        justify-content: center;
        padding: 10% 8%;
        padding-bottom: 15%;
    }

    .statement-section {
        padding: 0;
        width: 100%;
    }

    .red-text {
        font-size: 14px;
      line-height: 15px;

    }
    
    .green-text {
        font-size: 13px;
        line-height: 17px;
        margin-top: 5%;
    }

    .desc {
        display: block;
    }

    .statement {
        width: 100%;
        margin-top: 10%;
    }


    .section {
        align-items: center;
        padding: 8%;
        padding-left: 13%;
    }

    .latest {
        padding: 7% 5%;
        width: 48%;

    }

    .btn-download button {
        padding: 8px 20px;
         font-size: 8px;
         width: 100%;
         margin-top: 5px;

    }

    .btn-others {
        width: 100%;
        justify-content: flex-end;
    }

    .btn-others button {
        padding: 8px 15px;
        font-size: 6px;
        margin-top: 5%;
        width: 80%;
    }

    .late-title {
        font-size: 13px;
        width: 80%;
    }

    .late-label {
        font-size: 6px;
        margin-top: 4%;
    }

    .selections {
        display: block;
    }

    .left {
        flex-direction: row;
         width: 100%;

    }

    .food {
        font-size: 10px;
        padding: 8px 10px;
        width: 100%;
        height: 25%;
    
    }

    .middle {
        width: 50%;
    }
    
    .right {
        width: 50%;
        height: 100%;
    }

    .flex-cont {
        width: 100%;
    }

    .middle img {
        transform: scale(1);
        object-fit: cover;
    }

    .yam, .asaro {
        font-size: 17px;
    }

    .yam {
        padding: 10% 7% 5%;
    }

    .asaro {
        padding: 2% 7%;
    }


    .asaro:after {
        width: 90%;
    }

    .serve-container {
        padding: 5% 7%;
    }

    .serve {
        font-size: 13px;
    }

    .ingredient, .method {
        font-size: 11px;
    }

    .method {
        margin: 10px 0;
    }

    .point {
        height: 7px;
        width: 7px;  
    }

    .leaf-image img {
        width: 90%;
        margin: -40px 0px -40px;
    
    }


    .sub-heading {
        font-size: 14px;
    }

.sub-text {
    font-size: 6px;
    line-height: 10px;
    width: 80%;
    top: 65%;
    transform: translate(-50%, -65%);
}

    .image-cont img {
        transform: scale(1.5);
        margin: -70px 0 -70px;
    
    }

    .center-circle {
        width: 80px;
        height: 80px; 
    }

    .xand-text {
        font-size: 20px;
    }

    .contact-section {
        top: 50%;
        left: 10%;
        transform: translate(-10%, -50%);
    }

    .contact-text, .social-text, .message-text {
        font-size: 8px;
    }

    .phone {
        font-size: 7px;
         margin-top: 5px;

    }

    .mail {
        font-size: 7px;
    }

    .social-section{
        top: 50%;
        left: 80%;
        transform: translate(-80%, -50%);
    }

    .icons {
        margin: 5px 0;
    }

    .icon {
        max-width: 10px;
        max-height: 10px;
        margin-right: 5px;
    }

    .message-text {
        line-height: 10px;
        font-size: 6px;
    }

    .footer-circle {
        max-width: 40px;
        max-height: 40px;
    
    }
     
  }

    







@media (min-width: 750px) and (max-width: 900px) {

    .logo {
        position: relative;
        width: 250px;
        height: 250px;
    }

    .three .text {
        font-size: 14px;
        max-width: 80%;
        line-height: 20px;

    }


    .button {
         padding: 13px 35px;
         font-size: 14px;
    }

    .circles {
        top: 50%;
        left: 52%;
        transform: translate(-50%, -52%);
    }

    .indian-img img {
        margin: 0px 0px -110px 0px;
    }

    .fruit-tray {
        top: 60%;
        left: 0;
        transform: translate(0, -60%);
    }

    .fruit-tray img{
        margin: 0px 0px  0px -180px;
    }

    .hero {
        padding: 12% 2%;
    }

    .statement-section {
        width: 65%;
    }

    .red-text {
        font-size: 16px;
        line-height: 20px;
    }
    
    .green-text {
        font-size: 16px;
        margin: 3% 0;
    }

    .tray-img {
        bottom: -75%;
        transform: translate(-50%, 75%);
    }
    
    .tray-img img {
        width: 100%;
        margin: -80px 0px -150px;
    }

    .section {
        padding-top: 13%;
    }
    

    .late-title {
        width: 60%;
    }

.food {
    font-size: 12px;

}

.statement {
    width: 45%;
    margin-top: 5%;
}

.leaf-image img {
    width: 90%;
    margin: -150px 0px -150px;

}

 .sub-heading {
     font-size: 20px;
 }

 .sub-text {
    font-size: 12px;
    line-height: 20px;
}

.image-cont img {
    transform: scale(1.5);
    margin: -200px 0 -200px;

}

.center-circle {
    width: 200px;
    height: 200px;

}

.xand-text {
    font-size: 50px;
}

.social-section {
    left: 80%;
    transform: translate(-80%, -50%);
}

   
}



@media (min-width: 900px) and (max-width: 1200px) {

    .logo {
        position: relative;
        width: 300px;
        height: 300px;
    }

    .three .text {
        font-size: 14px;
        max-width: 80%;
        line-height: 20px;

    }

    .indian-img img {
        margin: 0px 0px -170px 0px;
    }

    .circles {
        top: 56%;
        left: 55%;
        transform: translate(-56%, -55%);
    }

    .button {
        padding: 13px 50px;
        font-size: 14px;
   }

   .tray-img {
    bottom: -110%;
    transform: translate(-50%, 110%);
}

    .tray-img img {
        width: 100%;
        margin: -110px 0px -180px;
    }


.center-circle {
    width: 200px;
    height: 200px;

}

.fruit-tray img{
    margin: 0px 0px  0px -100px;
}

.sub-heading {
    font-size: 25px;
}

.sub-text {
    font-size: 14px;
    line-height: 20px;
    top: 50%;

}

.leaf-image img {
    margin: -170px 0px -170px;

}

.xand-text {
    font-size: 60px;
}

}

@media screen and (min-width: 1200px) {
    .logo {
        width: 500px;
        height: 500px;
    }

    .center-circle {
        width: 300px;
        height: 300px; 
    }

    .sub-heading {
        font-size: 28px;
        top: 40%;
        transform: translate(-50%, -40%);
    }
    
    .sub-text {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .tray-img {
        position: absolute;
        left: 50%;
        bottom: -110%;
        transform: translate(-50%, 110%);
    }
    
    .tray-img img {
        width: 100%;
        margin: -150px 0px -250px;
    }

   


    .section {
        padding: 15%;
        padding-bottom: 2%;
        display: flex;
    }
}

@media screen and (min-width: 1400px) {
    .tray-img {
        position: absolute;
        left: 50%;
        bottom: -90%;
        transform: translate(-50%, 90%);
    }
    
    .tray-img img {
        width: 100%;
        margin: -150px 0px -250px;
    }
}